.points-box {
    background-color: #9ae3f7;
    width: 200px;
    height: 30px;
    padding: 0px;
    
}
.points {
    background-color: rgb(251, 247, 34);
    height: 30px;
}
.player {
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 50px 100px;
}
.points-font {
    margin: 10px;

}