   
   
   .con {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
   .btn {
        margin: 30px;
        font-size: 0.8em;
        background-color: rgb(240, 167, 57);
        padding: 40;
        border-radius: 20px;
        height: 100px;
        width: 100px;
        color: rgba(255, 250, 234, 0.886);
    }
   .dis {
        background-color: rgb(185, 185, 185) !important;
    }
